<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <%= render "rooms/your_menu" %>
            </div>
        </div>
    </div>


    <div class="col-9">
        <div class="card">
            <div class="card-header bg-success text-white">
                Your Reservations
            </div>
            <div class="card-body">
                <div class="container">
                    <% @rooms.each do |room| %>
                        <% room.reservations.each do |reservation| %>
                            <div class="row room-row mb-3"> 
                                <div class="col-md-2 trip-date">
                                    <%= reservation.start_date.strftime('%v') %>
                                </div>
                                <div class="col-md-2">
                                    <% if reservation.room.photos.blank? %>
                                        <%= image_tag "no-image.png", alt: "Room image", class: "room-image mt-1" %>
                                    <% else %>
                                        <%= image_tag reservation.room.photos.first.image.url(:thumb), class:"mt-1" %>
                                    <% end %>
                                </div>
                                <div class="col-md-5">
                                    <%= link_to reservation.room.listing_name, room_path(reservation.room.user), class: "trip-name" %>
                                    <%= link_to reservation.user.fullname, user_path(reservation.user), class: "trip-name" %>
                                </div>
                                <div class="col-md-3">
                                    <%= link_to 'Review Guest', "#", class: "btn btn-primary update-room-btn" %>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>