<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <%= render "rooms/your_menu" %>
            </div>
        </div>
    </div>


    <div class="col-9">
        <div class="card">
            <div class="card-header bg-success text-white">
                Your Trips
            </div>
            <div class="card-body">
                <div class="container">
                    <% @trips.each do |trip| %>
                        <div class="row room-row mb-3"> 
                            <div class="col-md-2 trip-date">
                                <%= trip.start_date.strftime('%v') %>
                            </div>
                            <div class="col-md-2">
                                <% if trip.room.photos.blank? %>
                                    <%= image_tag "no-image.png", alt: "Room image", class: "room-image mt-1" %>
                                <% else %>
                                    <%= image_tag trip.room.photos.first.image.url(:thumb), class:"mt-1" %>
                                <% end %>
                            </div>
                            <div class="col-md-5">
                                <%= link_to trip.room.listing_name, room_path(trip.room.user), class: "trip-name" %>
                                <%= image_tag avatar_url(trip.room.user), class: "rounded-circle avatar-small" %>
                                <%= link_to trip.room.user.fullname, user_path(trip.room.user), class: "trip-fullname" %>
                            </div>
                            <div class="col-md-3 mt-3">
                               <%= render partial: "reviews/guest_form", locals: {reservation: trip} %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>