<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <%= render "your_menu" %>
            </div>
        </div>
    </div>


    <div class="col-9">
        <div class="card">
            <div class="card-header bg-success text-white">
                Your beautiful places
            </div>
            <div class="card-body">
                <div class="container">
                    <% @rooms.each do |room| %>
                        <div class="row room-row mb-3"> 
                            <div class="col-md-2">
                                <% if room.photos.blank? %>
                                    <%= image_tag "no-image.png", alt: "Room image", class: "room-image mt-1" %>
                                <% else %>
                                    <%= image_tag room.photos.first.image.url(:thumb), class:"mt-1" %>
                                <% end %>
                            </div>
                            
                            <div class="col-md-7">
                                <%= image_tag avatar_url(room.user), class: "rounded-circle avatar-medium" %>
                                <h1 class="listing-name"><%= room.listing_name %></h1>
                            </div>
                            <div class="col-md-3">
                                <%= link_to 'Update', listing_room_path(room), class: "btn btn-primary update-room-btn" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>